
<section class="orders">
    <section class="order">
        <div class="order-body"> <!--*ngFor="let order of orders" -->
            <span class="order-id">Order {{order._id}}</span>
            <span class="order-client">{{order.client |uppercase}}</span>
            <!-- <span class="order-total">{{order.price}}</span> -->
        </div>
        <div class="order-footer">
            <input type="button" value="Deliver" (click)="showValidation()">
        </div>
    </section>
    <section *ngIf="isDisplay" class="order-delivery-verification" >
        <input id="btnno" type="button" value="No" (click)="showValidation()">
        <input id="btnyes" type="button" value="Yes" (click)="deliverOrder(order._id)">
    </section>
</section>