@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');
*{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Barlow';
}



@media screen and (min-width: 600px) and (max-width: 1400px){
    body{
        display: flex;
        flex-direction: row;
    }
    .head-order{
        display: flex;
        flex-direction: column;
        flex-grow: 2;
    }
    header {
        background-color: honeydew;    
        height: 4.3rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
    
    .container-all{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 15rem;
        margin: 2rem;
        height: 20rem;
        /* padding: 1rem; */
    }
    .container{
        display: flex;
    }
    .container-header{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    .container-order{
        display: flex;
        justify-content: space-around;
    }
    .generalInfo h3{
        margin-left:4.3rem ;
    }


    
    .container-all{
        display: flex;
        flex-direction: column;
    }

    /* ---- Botón Ready to deliver ---- */
    .btn-general {
        margin: 0.8rem;
        padding: 0.8rem;
        border:white;
        color: white;
        background-color: #123520;
        border-radius: 8px;
        align-self: center;
        box-shadow: 0 6px #999;
        -webkit-transition-duration: 0.4s;
        transition-duration: 0.4s;
    }
    .btn-general:active{
        color: #123520;
        background-color: white;
        box-shadow: 0 4px #666;
        transform: translateY(4px);
    }

}
