<body>
   
    <bar-side></bar-side>

    <section class="head-order">
        <header>
            <h2>Dashboard</h2>
            <h2>Kitchen</h2> 
        </header>  

        <section class="container-all">

            <section class="container" *ngFor="let order of orders, index as i">  
                <section class="container-header" >
                        <h3>Order {{i+1}}.</h3>
                        <h3>{{order.client | uppercase}}</h3>
                        <h4>{{order.dateEntry | date: 'shortTime'}}</h4>
                </section>
                <section class="container-order" > 
                    <ol >
                        <li>{{order.products[0].product.name}}</li>
                    </ol>
                </section>
                <button class="btn-general" >It's hot</button>
            </section>

        </section>
    </section>
</body>
