<body>
   
    <bar-side></bar-side>

    <section class="head-order">
        <header>
            <h2>Dashboard</h2>
            <h2>Kitchen</h2> 
        </header>  

        <section class="container-all">

            <section class="container">
                
                <section class="container-header">
                    <section>
                        <h3>Order 1</h3>
                        <h4>Start: 13:39</h4>
                    </section>
                    <section>
                        <h3>Total Time:</h3>
                        <h4>End:___</h4>
                    </section>
                </section>

                <section class="container-order">
                    <section>
                        <p>Ham and-cheese sandwich</p>
                        <p>4</p>
                    </section>
                    <section>
                        <p>Mix Herbal Tea</p>
                        <p>2</p>
                    </section>
                </section>

                <button class="btn-general" >Ready to deliver</button>

            </section>

            <section class="container">
                <section class="container-header">
                    <section>
                        <h3>Order 2</h3>
                        <h4>Start: 14:39</h4>
                    </section>
                    <section>
                        <h3>Total Time:</h3>
                        <h4>End:___</h4>
                    </section>
                </section>

                <section class="container-order">
                    <section>
                        <p>Cheese sandwich</p>
                        <p>10</p>
                    </section>
                    <section>
                        <p>Lemon Tea</p>
                        <p>5</p>
                    </section>
                </section>
                <section>
                    <button class="btn-general" >Ready to deliver</button>
                </section>
            </section>
            <section class="container">
                <section class="container-header">
                    <section>
                        <h3>Order 3</h3>
                        <h4>Start: 18:39</h4>
                    </section>
                    <section>
                        <h3>Total Time:</h3>
                        <h4>End:___</h4>
                    </section>
                </section>

                <section class="container-order">
                    <section>
                        <p>Avocado sandwich</p>
                        <p>8</p>
                    </section>
                    <section>
                        <p>Mint Tea</p>
                        <p>3</p>
                    </section>
                </section>
                <section>
                    <button class="btn-general" >Ready to deliver</button>
                </section>
            </section>
        </section>
    </section>
</body>
