  <!-- <section *ngFor="let category of dishCategories"  (click)="filterCategory(category)">
    <button>{{category}}</button>
    
  </section> -->
  <!-- <section *ngFor="let types of productsTypes">
    <button >{{types}}</button>
  </section> -->
  <app-table-client
    (getModalChild)="getModal($event)"
    (closeModalChild)="closeModal($event)"
    (getClientName)="getName()"
    [show]="show"
    [nameClient]="nameClient"></app-table-client>

  <section class="dashboard-waiter">

    <bar-side></bar-side>
    
    <section>  
      <!-- Botones de la cabecera -->
      <section class="buttons-header">
        <section class="buttons-types">
          <button (click)="filterType('burger')">Burger</button>
          <button (click)="filterType('drink')">Drink</button>
          <button (click)="filterType('side dishes')">Side Dishes</button>
        </section>
        
        <button id="btn-new-order" (click)="getModal(true)">New order</button>
      </section>

      <section class="container-product">
        <section class="container-product-card" *ngFor="let product of items">
            <img [src]="product.image">
            <h3>{{ product.name }}</h3>
            <p>{{ product.price | currency:'S/.' }}</p>
            <button (click)="addItemToCar(product)">Add Item</button>
        </section>
      </section>
    </section>

    <orders-car 
      [nameClient]="nameClient"
      [productItem]="productItem"
      [total]="total"
      [showButton]="showButton"
      (addToCar)="addItemToCar($event)"
      (minousOneItem)="minousOneItem($event)"
      (plusOneItem)="plusOneItem($event)"
      (trashItem)="trashItem($event)"></orders-car>
      
  </section>