@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Barlow';
}
@media screen and (min-width: 600px) and (max-width: 1400px){
    .bar-header{
        display: flex;
    }
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 2;
    background-color: honeydew;
    height: 4.3rem;
}

main{
    /* position: relative; */
    width: calc(100% - 4.3rem);
    display: flex;
    flex-direction: column;
    margin-left: 4.3rem ;
    /* justify-content: center; */
    position: absolute;
    top: 60px;
    /* display: flex;
    flex-direction: column; */
    /* margin-left: 240px; */
}

.row{
    display: flex;
    align-self: center;
    /* margin: 4rem; */
}

.table{
    border-collapse: collapse;
    box-shadow: 0 5px 10px #666;
    background-color: white;
    text-align: center;
    overflow: hidden;
    border-radius: 8px;
    margin-top: 4.3rem;
    
}

thead {
    box-shadow: 0 5px 10px #666;
    letter-spacing: 0.1rem;
    font-family: 'Barlow';
    font-size: 1.2rem;
    font-weight: 900;
    
}

td{
    padding: 1rem 2rem;
    font-family:'Trebuchet MS';
}

th{
    padding: 1rem 1.2rem;
}

tr:nth-child(even){
    background-color: #f7f7f7;
}
}