<section class="bar-header">
    <bar-side></bar-side>
    <header>
        <h2>Dashboard</h2>
        <h2>Kitchen</h2> 
    </header>
</section>  
<main>
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead >
                    <tr>
                        <th>Order</th> 
                        <th>Total</th>
                        <th>T.Arrived</th>
                        <th>T.Deliverd</th>
                        <th>Total Time</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    <tr> <!--*ngFor="let singleUser of users"-->
                        <td>001</td>
                        <td>34</td>
                        <td>9:55 am</td>
                        <td></td>
                        <td></td>
                        <td>Pending</td>
                    </tr>
                    <tr> <!--*ngFor="let singleUser of users"-->
                        <td>003</td>
                        <td>20</td>
                        <td>10:00 am</td>
                        <td>10:20 am</td>
                        <td>00:20</td>
                        <td>Delivered</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</main>
