<p>waiter-tables works!</p>
<body>
    <aside>
        <bar-side></bar-side>
    </aside>
    <main>
        <section class="generalInfo">
            <h3>Dashboard</h3>
            <section id="infoWaiter">
                <h4>NombreMesero</h4>
                <h4>Waiter</h4>
                <label for="fileButton">
                    <i class="fas fa-camera"></i>
                </label>
                <input hidden type="file" accept="image/png, image/jpeg" value="upload" id="fileButton"/>
            </section>
        </section>
        <section id="stateNav">
            <label for="btnNoOrder">
                <img src="../assets/icon/no-order-circle.png">
                No Order
            </label>
            <input hidden type="button" accept="image/png, image/jpeg" value="No order" id="btnNoOrder"/>
    
            <label for="btnOrderKitchen">
                <img src="../assets/icon/order-kitchen-circle.png">
                Order in Kitchen
            </label>
            <input hidden type="button" accept="image/png, image/jpeg" value="Order kitchen" id="btnOrderKitchen"/>
        
            <label for="btnReadyDeliver">
                <img src="../assets/icon/ready-deliver-circle.png">
                Ready to Deliver
            </label>
            <input hidden type="button" accept="image/png, image/jpeg" value="Order to deliver" id="btnReadyDeliver"/>
        
            <label for="btnDelivered">
                <img src="../assets/icon/delivered-circle.png">
                Delivered
            </label>
            <input hidden type="button" accept="image/png, image/jpeg" value="Order delivered" id="btnDelivered"/>
        </section>
        <section id="tables">
            <article>
                <label></label>

            </article>
        </section>
    </main>
</body>