
<body>
    <aside>
        <bar-side></bar-side>
    </aside>
        <header>
            <section class="generalInfo">
                <h3>Dashboard</h3>
            </section>
            <section id="infoWaiter">
                <h4>NombreMesero</h4>
                <h4>Waiter</h4>  <!--{{user.role}}-->
                <label for="fileButton">
                    <i class="fas fa-camera"></i>
                </label>
                <input hidden type="file" accept="image/png, image/jpeg" value="upload" id="fileButton"/>
            </section>
        </header>
        <main>
        <section id="stateNav">
            <label for="btnNoOrder">
                <img src="../assets/icon/no-order-circle.png">
                No Order
            </label>
            <input hidden type="button" accept="image/png, image/jpeg" value="No order" id="btnNoOrder"/>
    
            <label for="btnOrderKitchen">
                <img src="../assets/icon/order-kitchen-circle.png">
                Order in Kitchen
            </label>
            <input hidden type="button" accept="image/png, image/jpeg" value="Order kitchen" id="btnOrderKitchen"/>
        
            <label for="btnReadyDeliver">
                <img src="../assets/icon/ready-deliver-circle.png">
                Ready to Deliver
            </label>
            <input hidden type="button" accept="image/png, image/jpeg" value="Order to deliver" id="btnReadyDeliver"/>
        
            <label for="btnDelivered">
                <img src="../assets/icon/delivered-circle.png">
                Delivered
            </label>
            <input hidden type="button" accept="image/png, image/jpeg" value="Order delivered" id="btnDelivered"/>
        </section>
        <section class="tables">
            <div>
                <div id="row1">
                    <div class="table">
                        <h4>Table1</h4> 
                        <span>State</span> 
                    </div>
                    <div class="table">Table2</div>
                    <div class="table">Table3</div>
                </div>
                <div id="row2">
                    <div class="table">Table4</div>
                    <div class="table">Table5</div>
                    <div class="table">Table6</div>
                </div>
            </div>
        </section>
    </main>
</body>