@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Barlow';
}
@media screen and (min-width: 600px) and (max-width: 1400px){
    
    aside{
        height: 100%;
        width: 4.3rem;
    }

    main{
        /* position: relative; */
        width: calc(100% - 4.3rem);
        display: flex;
        flex-wrap: wrap;
        margin-left:4.3rem ;
        justify-content: center;
        position: absolute;
        top: 60px;
        /* display: flex;
        flex-direction: column; */
        /* margin-left: 240px; */
    }

    header {
        /* display: flex;
        justify-content: space-between;
        margin-left: 4.3rem; */
        position:absolute;
        top: 0;
        background-color: honeydew;
        width: calc(100% - 4.3rem);
        margin-left:4.3rem ;
        z-index: 100;
        height: 60px;
        padding: 0rem, 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .generalInfo h3{
        margin-left:4.3rem ;
    }

    #infoWaiter{
        display: flex;
        /* margin-left: 1.2rem; */
    }

    #infoWaiter i{
        width: 40px;
        height: 40px;
        display: flex;
    }

    #infoWaiter h4{
        flex-direction: column;
        align-content: space-around;
    }


    .tables{
        /* display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 5fr);
        grid-column-gap: 5rem; */
        display: flex;
        flex-direction: column;
        /* z-index: 100; */
    }

    .table-single{
        display: flex;
        background: rosybrown;
        border: solid 5px rebeccapurple;
        border-radius: 20px;
        padding:10px;
        margin:10px;
        width: 200px;
        flex-direction: column;
    }

    .table-body{
        display: flex;

    }

        #stateNav{
            /* top: calc(100% - 60px); */
            /* display: flex; */
            margin-top: 60px;
            z-index: 100;
        }

        app-orders{
            position: relative;
        }

        .tables{
            /* display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 5fr);
            grid-column-gap: 5rem; */
            display: flex;
            flex-direction: column;
            /* z-index: 100; */
        }

        .table-single{
            display: flex;
            background: rosybrown;
            border: solid 5px rebeccapurple;
            border-radius: 20px;
            padding:10px;
            margin:10px;
            width: 200px;
            flex-direction: column;
        }

        .table-body{
            display: flex;

        }

}
