@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@200&display=swap');
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    text-decoration: none;
    /* font-family: 'Barlow'; */
}
@media screen and (min-width: 600px) and (max-width: 1400px){
    .bar-header{
        display: flex;
    }
header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 2;
    background-color: honeydew;
    background-color: honeydew;  
    height: 4.3rem;
    font-family: 'Barlow';
}

main{
    /* position: relative; */
    width: calc(100% - 4.3rem);
    display: flex;
    flex-direction: column;
    margin-left: 4.3rem ;
    /* justify-content: center; */
    position: absolute;
    top: 60px;
    /* display: flex;
    flex-direction: column; */
    /* margin-left: 240px; */
}

.row{
    display: flex;
    align-self: center;
    /* margin: 4rem; */
}

.table{
    border-collapse: collapse;
    box-shadow: 0 5px 10px #666;
    background-color: white;
    text-align: center;
    overflow: hidden;
    border-radius: 8px;
    margin-top: 2rem;
    
}

thead {
    box-shadow: 0 5px 10px #666;
    letter-spacing: 0.1rem;
    font-family: 'Barlow';
    font-size: 1.2rem;
    font-weight: 900;
    
}

td{
    padding: 1rem 2rem;
    font-family:'Trebuchet MS';
}

th{
    padding: 1rem 2rem;
}

tr:nth-child(even){
    background-color: #f7f7f7;
}

.btn-edit, .btn-delete{
    color: white;
    border:white;
    background-color: #123520;
    width: 30px;
    height: 30px;
    border-radius: 3px;
    -webkit-transition-duration: 0.1s;
    transition-duration: 0.1s;
}

.btn-edit:active{
    color: white;
    background-color: #ADDCB8;
    box-shadow: 0 4px #666;
    transform: translateY(2px);
}

.btn-delete:active{
    color: white;
    background-color:#FFD4C7;
    box-shadow: 0 4px #666;
    transform: translateY(2px);
}

.btn-add-user{
    /* margin: 0.8rem; */
    padding: 0.8rem;
    color: white;
    font-weight: bold;
    border:white;
    background-color: #123520;
    border-radius: 8px;
    box-shadow: 0 6px rgb(199, 199, 199);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    align-self: flex-end;
    margin-right: 5.8rem;
    margin-top: 4rem;
}

.btn-add-user:active{
    color: white;
    background-color: #ADDCB8;
    box-shadow: 0 4px #666;
    transform: translateY(4px);
}

.my-pagination /deep/ .ngx-pagination .current {
    margin-top: 1rem;
    background: honeydew;
    color: #123520;
  }
}