<bar-side></bar-side>
<div class="row">
    <div class="col">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Email</th>
                    <th>Manager</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>001</td>
                    <td>admin@gmail.com</td>
                    <td>true</td>
                    <td>
                        <button><i class="fas fa-pencil-alt"></i></button>
                    </td>
                    <td>
                        <button><i class="fas fa-trash-alt"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


