.container-icon {
    background-color: #ADDCB8;
    display: flex;
    flex-direction: column;
    width: 4rem;
    height: 45rem;
    justify-content: space-between;
}

/* cuando eliges un ícono de la barra de navegación, se debe cambiar el color*/
/* .active {
    background-color: blue;
} */