<section>
    <nav class="container-icon">
        <!-- <a [routerlink]="['/']"><img src="../assets/logo-small.png" alt="logo-small"></a>
        <a [routerlink]="['/user']" [routerLinkActive]="['active']"><i class="fas fa-users"></i></a>
        <a [routerlink]="['/products']" [routerLinkActive]="['active']"><i class="fas fa-clipboard-list"></i></a>
        <a [routerlink]="['/waitertables']" [routerLinkActive]="['active']"><i class="fas fa-table"></i></a>
        <a [routerlink]="['/orders']" [routerLinkActive]="['active']"><i class="fas fa-hamburger"></i></a>
        <a [routerlink]="['/allorders']" [routerLinkActive]="['active']"><i class="fas fa-chart-bar"></i></a>
        <a [routerlink]="['/']" [routerLinkActive]="['active']"><i class="fas fa-sign-out-alt"></i></a> -->
        <a class="general"><img src="../assets/logo-small.png" alt="logo-small"></a>
        <a  [hidden]="!isAdmin" class="admin-menu" routerLink="/user" [routerLinkActive]="['active']"><i class="icon fas fa-users"></i></a>
        <a  [hidden]="!isAdmin" class="admin-menu" routerLink="/inventory" [routerLinkActive]="['active']"><i class="icon fas fa-clipboard-list"></i></a>
        <a  [hidden]="isAdmin" class="waiter-menu" routerLink="/waitertables" [routerLinkActive]="['active']"><i class="icon fas fa-table"></i></a>
        <a  [hidden]="isAdmin" class="waiter-menu"routerLink="/products" [routerLinkActive]="['active']"><i class="icon fas fa-hamburger"></i></a>
        <a  [hidden]="isAdmin" class="cheff-menu"routerLink="/orderskitchen" [routerLinkActive]="['active']"><i class="icon fas fa-fire-alt"></i></a>
        <a  [hidden]="isAdmin" class="cheff-menu"routerLink="/productivityk" [routerLinkActive]="['active']"><i class="icon fas fa-chart-bar"></i></a>
        <a class="general" routerLink="" (click)="logoutBarside()"><i class="icon fas fa-sign-out-alt"></i></a>
    </nav>
</section>
