<section>
    <nav class="container-icon">
        <!-- <a [routerlink]="['/']"><img src="../assets/logo-small.png" alt="logo-small"></a>
        <a [routerlink]="['/user']" [routerLinkActive]="['active']"><i class="fas fa-users"></i></a>
        <a [routerlink]="['/products']" [routerLinkActive]="['active']"><i class="fas fa-clipboard-list"></i></a>
        <a [routerlink]="['/waitertables']" [routerLinkActive]="['active']"><i class="fas fa-table"></i></a>
        <a [routerlink]="['/orders']" [routerLinkActive]="['active']"><i class="fas fa-hamburger"></i></a>
        <a [routerlink]="['/allorders']" [routerLinkActive]="['active']"><i class="fas fa-chart-bar"></i></a>
        <a [routerlink]="['/']" [routerLinkActive]="['active']"><i class="fas fa-sign-out-alt"></i></a> -->
        <a><img src="../assets/logo-small.png" alt="logo-small"></a>
        <a><i class="icon fas fa-users"></i></a>
        <a><i class="icon fas fa-clipboard-list"></i></a>
        <a><i class="icon fas fa-table"></i></a>
        <a><i class="icon fas fa-hamburger"></i></a>
        <a><i class="icon fas fa-chart-bar"></i></a>
        <a href="default.html"><i class="icon fas fa-sign-out-alt"></i></a>
    </nav>
</section>
