    <body>
        <section>
            <img src="../assets/logo-fondo-green.jpg" class="" alt="logo-burger" />

            <form #formLogin="ngForm" (submit)="login(formLogin)">
                <h2> MANAGER/ EMPLOYEES </h2>
                
                    <input type="email"  name="email" [(ngModel)]="email" required placeholder="email" />

                <span *ngIf="!email">
                    Please your email
                </span>
                
                
                    <input type="password" name="password" [(ngModel)]="password" required placeholder="password"/>
              
                <span *ngIf="!password">
                    Please your password
                </span>
                
                <button [disabled]="!formLogin.form.valid">LOGIN</button>
            </form>
        </section>
    </body>
