<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    <body>
        <header>
             <img src="../assets/logo-fondo-green.jpg" class="" alt="logo-burger" />
            <h2> MANAGER/ EMPLOYEES </h2>

            <form #formLogin="ngForm" (submit)="sendCredentials(formLogin)">
            
                <label for="email">
                    <input type="email"  name="email"  [(ngModel)]="email" required placeholder="email" 
                    />
                  </label><br>
                <span *ngIf="!email">
                    Please your email
                </span><br>
                
                <label for="password">
                    <input type="password" name="password" [(ngModel)]="password" required placeholder="password"/>
                </label><br>
                <span *ngIf="!password">
                    Please your password
                </span>
            <p>Forgot password?</p>
            
            <button [disabled]="!formLogin.form.valid">LOGIN</button>
        </form>
        </header>
    </body>
</html>