    <body>
        <header>
             <img src="../assets/logo-fondo-green.jpg" class="" alt="logo-burger" />
            <h2> MANAGER/ EMPLOYEES </h2>

            <form #formLogin="ngForm" (submit)="sendCredentials(formLogin)">
            
                <label for="email">
                    <input type="email"  name="email" [(ngModel)]="email" required placeholder="email" 
                    />
                  </label><br>
                <span *ngIf="!email">
                    Please your email
                </span><br>
                
                <label for="password">
                    <input type="password" name="password" [(ngModel)]="password" required placeholder="password"/>
                </label><br>
                <span *ngIf="!password">
                    Please your password
                </span>
            <p>Forgot password?</p>
            
            <button [disabled]="!formLogin.form.valid">LOGIN</button>
        </form>
        </header>
    </body>
