<app-form-new-product
[show]="show"
(newProduct)="newProduct($event)"
(getForm)="getFormNewProduct($event)" 
(closeForm)="closeFormNewProduct($event)">
</app-form-new-product>

<section class="bar-header">
    <bar-side></bar-side>

    <header>
        <h2>Dashboard</h2>
        <h2>Manager</h2> 
    </header>  
</section>  

<main>
    <button class="btn-add-product" (click)="getFormNewProduct(true)">New Product</button>
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead >
                    <tr>
                        <th>#</th>
                        <th></th>
                        <th>Product</th>
                        <th>Type</th>
                        <th>Price</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of products | paginate: { itemsPerPage: 5, currentPage: p }; index as i"> <!--*ngFor="let singleUser of users"-->
                        <td>{{i+1}}</td>
                        <td><img [src]="product.image"></td>
                        <td>{{product.name}}</td>
                        <td>{{product.type}}</td>
                        <td>{{product.price}}</td>
                        <td>
                            <button class="btn-edit" (click)="preEditProduct(product)"
                            data-toggle="getForm"
                            ><i class="fas fa-pencil-alt"></i></button>
                        </td>
                        <td>
                            <button class="btn-delete" (click)="deleteProduct()"><i class="fas fa-trash-alt"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <pagination-controls class="my-pagination" (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</main>