

   <!--  deleteProducts(uid: any,) {
      return this.http.delete<IProductsModel>(`${this.url}${this.endpoint}${uid}`)
    }
    updateProducts(uid: any, body: any) {
      return this.http.put<IProductsModel>(`${this.url}${this.endpoint}${uid}`, body)
    }
    createProducts(body: any) {
      return this.http.post<IProductsModel>(`${this.url}${this.endpoint}`, body)
    } -->

    <!-- // Se filtra por los 3 tipos de productos: Burger, Drink & Side-Dish
    // filter(elemento: Array<ProductDetailModel>){
    //   elemento.forEach((el: ProductDetailModel)=>{
    //     this.productsTypes.add(el.type)
    //   })
    // } -->

   <!--  constructor() { 
      this.nameClient = new FormControl('', [Validators.required]);
       //---Puede servir para ver el cambio de estados en mesas u ordenes
       /* this.nameClient.valueChanges
       .subscribe(value=>{
         console.log(value);
       }); */
     } -->

    <!--  getName(){
      /* if(this.nameClient.valid){
        console.log(this.nameClient.value);
      } */
      this.getClientName.emit()
      /* console.log(this.nameClient.value); */
    } -->

      <!-- <section *ngFor="let category of dishCategories"  (click)="filterCategory(category)">
    <button>{{category}}</button>
    
  </section> -->
  <!-- <section *ngFor="let types of productsTypes">
    <button >{{types}}</button>
  </section> -->