<div *ngIf="show" class="modal">


  <!-- Modal content -->
  <div class="modal-content">
    <section class="modal-content-header">
        <span (click)="closeFormNewUser(false)" class="close">&times;</span>
    </section>
    <section class="modal-content-body">
        <h2>New User</h2>
        <form [formGroup]="registerUserForm" (ngSubmit)="onSaveForm()">
            <input type="text" formControlName="email" placeholder="Enter email">
            <input type="password" formControlName="password" placeholder="Enter password">
            <label>Is Admin?</label>
            <select class="custom-select"  formControlName="admin">
                <option [value]="true">Yes</option>
                <option [value]="false">No</option>
            </select>
            <button type="submit" class="btn-add-user">Save</button>
        </form>
    </section>
    <!-- <p>Some text in the Modal..</p> -->
  </div>

</div>
